@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,300&display=swap');

*{
  text-decoration: none !important;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0%;
  
}
body{
  background-color: #161625;
  color: #6C757D ;
}
.table{
  color: #6C757D ;
}
.table{
  --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #f8f9fa;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #f8f9fa;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}
h3{
  margin-bottom: 0px;
}
.heading{
  font-family: 'Monoton', cursive;
}
.navbar{
  background-color: #1E1E30;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.353);
}
.navbar h1{
  vertical-align: middle;
  font-family: 'Monoton', cursive;
  color: #CD0A35;
  font-weight: 100;
}
.navlist{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  text-decoration: none;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.navlist li{
  margin: 10%;
  padding: 10%;
  border-radius: 10px;
}
.navlist li:hover{
  background-color: #676f7850;

}
.navlist li a{
  color: whitesmoke !important;
}
.statstable{
  padding: 5%;
}
.totaldetails{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.confirmed{
  color: #676F78;
  background-color: #676f780a;
  border-radius: 20px;
  padding: 4%;
  transition: all .8s ease-in-out;
}
.active{
  color: #007BFF;
  background-color: #007bff0e;
  border-radius: 20px;
  padding: 4%;
  transition: all .8s ease-in-out;
}
.recovered{ 
  color: #28A745;
  background-color: #28a7461c;
  border-radius: 20px;
  padding: 4%;
  transition: all .8s ease-in-out;
}
.death{
  color: #cd0a35;
  background-color: #cd0a3416;
  border-radius: 20px;
  padding: 4%;
  transition: all .8s ease-in-out;
}
.confirmed:hover{
  background-color: #676f7840;
}
.active:hover{
  background-color: #007bff40;
}
.recovered:hover{
  background-color: #28a74650;
}
.death:hover{
  background-color: #cd0a3449;
}