@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
  text-decoration: none !important;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0%;
  transition: all .2s;
}
body{
  background-color: #161625;
  color: #6C757D ;
}
.table{
  color: #6C757D ;
}
a{
  color: #6C757D !important;
}
.table{
  --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #f8f9fa;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #f8f9fa;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}
.table-responsive{
  padding: 10%;
  padding-top: 0px;
}
h3{
  margin-bottom: 0px;
}
.heading{
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.navbar{
  display: flex;
  justify-content:space-around;
  background-color: #1E1E30;
  padding: .5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.353);
  height: max-content;
}
.navbar h1{
  vertical-align: middle;
  font-family: 'Monoton', cursive;
  color: #CD0A35;
  font-weight: 100;
}
.navlist{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-decoration: none;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.navlist li{
  margin: 10%;
  padding: 10%;
  border-radius: 10px;
}
.navlist li:hover{
  background-color: #676f7850;
}
.activenav{
  border-radius: 10px;
  padding: 20%;
  background-color: #676f7850;
}
.navlist li a{
  color: whitesmoke !important;
}
.statstable{
  padding: 4%;
}
input{  
  color: white;
  background-color:#1E1E30;
  border: 0px;
  padding: 2%;
  width: 80%;
  border-Radius:10px;
}
input:active{
  border: 0px;
}
.totaldetails{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.box{
  border-radius: 20px;
  padding: 4%;
  transition: all .8s ease-in-out;
}
.confirmed{
  color: #676F78;
  background-color: #676f780a;
}
button{
  width: 50px !important;
}
.active{
  color: #007BFF;
  background-color: #007bff0e;
}
.recovered{ 
  color: #28A745;
  background-color: #28a7461c;
}
.death{
  color: #cd0a35;
  background-color: #cd0a3416;
}
.confirmed:hover{
  background-color: #676f7840;
}
.active:hover{
  background-color: #007bff40;
}
.recovered:hover{
  background-color: #28a74650;
}
.death:hover{
  background-color: #cd0a3449;
}
.newspage{
  padding: 4%;
}
.footer div{
  display: flex;
  justify-content: space-around;
  flex-direction:row;
  padding: 3%;
}

@media only screen and (max-width: 1000px) {
  .table-responsive{
  padding: 1%;
}
.footer div{
  display: flex;
  justify-content: space-around;
  flex-direction:column;
}
.totaldetails{
  flex-direction: column;
}
.navlist li{
  margin: 0%;
  padding: 2%;
}
.navbar{
  display: block;
}
input{
  color: white;
  background-color:#1E1E30;
  border: 0px;
  padding: 5%;
  width: 100%;
  margin-Top:10%;
  margin-Bottom:10%;
  border-Radius:10px;
}
}